<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Fetch</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/create">Upload Your Dog</a></li>
        </ul>
    </div>
</nav>