<!-- Header nav row -->
<nav class="row">
    <a href="/">
        <img id="logo" src="./css/fetch_logo2.png" width="180" height="90" alt="logo for fetch" class="left">
    </a>

    <a href="/create" class="btn-floating btn-large waves-effect waves-light red right center"><i
            class="material-icons">add</i></a>
</nav>