Alright tell us all about your furry little friend!

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s4">
                <input placeholder="Max" id="name" type="text" class="validate">
                <label for="first_name">Name:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <input placeholder="German Shepard" id="breed" type="text" class="validate">
                <label for="first_name">Breed:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <select>
                    <option value="1" selected>Male</option>
                    <option value="2">Female</option>
                    <option value="3">Non-binary</option>
                </select>
                <label>Gender:</label>
            </div>
        </div>

        <div class="row">
            Tell us where to show your dog on the map:<br>
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>

        <div class="row">
            Upload a profile pic for your dog:<br>
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>

    </form>
</div>