<div class="row">
    <a href="/">
        <img id="logo" src="./css/fetch_logo2.png" width="180" height="90" alt="logo for fetch">
    </a>
</div>
<div class="container">
    <div class="row" id="dogProfiles"></div>
</div>