<div class="background">
    <div class="row">
        <div>
            <img id="logo" src="./css/fetch_logo2.png" width="180" height="90" alt="logo for fetch">
        </div>
    </div>







    <!-- log in or  update profile -->



    <!-- New Account-->

    <div class="row form">
        <div class="col m6 offset-m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Create your Fetch Profile!</span>
                    <form>
                        <div class="row">
                            <div class="input-field col m6">
                                <input placeholder="Scoobert" id="firstName" name="dog_name" type="text"
                                    class="validate">
                                <label for="dog_name">Dog's First Name</label>
                            </div>
                            <div class="input-field col m6">
                                <input placeholder="Doo" id="lastName" name="dog_last_name" type="text"
                                    class="validate">
                                <label for="dog_last_name">Dog's Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m4">
                                <input placeholder="Great Dane" id="breed" type="text" class="validate">
                                <label for="dog_breed">Dog's Breed</label>
                            </div>
                            <div class="input-field col m4">
                                <select id="age">
                                    <option value="" disabled selected></option>
                                    <option value="Puppy">Puppy</option>
                                    <option value="Young Adult">Young Adult</option>
                                    <option value="Adult">Adult</option>
                                    <option value="Senior">Senior</option>
                                </select>
                                <label>Age</label>
                            </div>
                            <div class="input-field col m2 s6">
                                <select id="gender">
                                    <option value="" disabled selected></option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <label>Gender</label>
                            </div>
                            <div class="input-field col m2 s6">
                                <select id="fixed">
                                    <option value="" disabled selected></option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>

                                </select>
                                <label>Fixed?</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m12">
                                <input placeholder="ex. Enjoys long walks on the beach" id="interests" type="text"
                                    class="validate">
                                <label for="dog_interests">Interests:</label>
                            </div>
                        </div>
                        <div class="row">
                            Upload a profile pic for your dog:

                            <div class="col s4">
                                <a class="waves-effect waves-light" id="uploadImage" style="width: 50px; height: 50px;">
                                    <div class="image-cropper">
                                        <img id="profilePreview" alt="" class="circle responsive-img"
                                            src="https://cdn.filestackcontent.com/UVLL8jDSPGfGTEHWfq7z">
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-action">
                            <button id="button" class="btn waves-effect waves-light btn-large" type="submit"
                                name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        </form>
    </div>