body{
  font-family: 'Bangers', cursive;
  font-size: 1.5em;
}
.background {
  background-image: url('background.jpg');
  background-position: 50% 20%;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
  background-color: #999;
  height:100vh;
}
#map{
height: 60vh;

}

#profile >.row{
  width: 33vw;
  float: right;
text-align: center;
margin-top: -5em;
}

.form{
  position: absolute;
  top: 5vh;
  right: 0;
  width: 100vw;
}
#logo {
  margin-top: 2px;
}

.yellow-button {
  background-color: #f2c33d!important;
  margin-left: -25px;
  margin-bottom: -10px;
  
}

#cur_dog_name, .dog-title, #map-back >a{

  color: #f2c33d!important;
}


@media only screen and (max-width: 600px) {
  #map-btn {
    margin-left: -25px!important;
     margin-top: 2em;
  
    }
    #profile >.row{
      width: 100%;
      float: none;
    margin-top: 0px;
    }



}
#map-btn {
  margin-left: 10em;
 }