#map {
  height: 60vh;
}

#inputMap {
  height: 60vh;
}
.tabs{
background-color: transparent !important ;
height: 100% !important;
flex-direction: column;
}
.sidenav .tabs .tab{
display: block !important;

}
.tabs .tab{
  height: 100% !important;
}
.tabs .tab a{
color : black !important;
padding-top: 10px !important;

}
.tabs .indicator{

  background-color: green !important;
}
.tabs .tab a:focus.active{
background-color: rgba(0,178,181,0.2) !important;

}

#logoutbutton{
  position: fixed;
  top: 40px;
  right: 5px;
}

}



/* Optional: Makes the map fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
